.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0e7ff, #f1f5f9);
  font-family: "Poppins", sans-serif;
}

.card {
  width: 350px;
  padding: 30px 25px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #1f2937;
}

/* No border-radius for sharp flat design */
.card,
.input,
.button {
  border-radius: 0px !important;
}

.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.9);
  color: #1f2937;
}
.input {
  outline: none;
}

.input:focus {
  outline: none;
}

.button {
  padding: 12px;
  font-size: 14px;
  background-color: #4c6ef5;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.button:hover {
  background-color: #3b5bdb;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
