/* Import the font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f9f9f9;
  --background-color: #ffffff;
  --text-color: #333;
  --footer-color: #555;
  --button-hover: #45a049;
  --font-family: "Poppins", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
/* 
.title {
  background-color: transparent;
  color: rgb(197, 223, 73);
  width: 100%;
  border-bottom: 1px solid rgb(39, 29, 84);
  padding: 0 100px;
} */

.logo {
  width: 240px;
  height: 60px;
}

.content {
  display: flex;
  margin-top: 80px;
  padding: 0 60px;
}

.content_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align to the left */
  justify-content: center;
  padding: 20px 20px 20px 0;
  width: 60%;
}

.content_left_header {
  font-size: 40px;
  font-weight: 600;
  color: rgb(39, 29, 84);
  margin-bottom: 30px;
  /* width: 470px; */
  padding-right: 20%;
}

.content_left_subheader {
  font-size: 15px; /* Slightly larger for readability */
  line-height: 28px; /* Comfortable spacing between lines */
  color: rgb(39, 29, 84); /* Rich text color */
  font-weight: 400; /* Regular weight for readability */
  margin-bottom: 30px; /* Spacing below */
  text-align: justify; /* Aligns text to the left */
}

.content_left_button_container {
  display: flex;
  gap: 20px; 
  justify-content: flex-start; /* Align buttons to the left */
}

.content_left_button_1 {
  background-color: rgb(39, 29, 84); 
  color: white; 
  border: none; /* Remove border */
  padding: 16px 26px; /* Button padding */
  font-size: 16px; /* Text size */
  border-radius: 2px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: all 0.3s ease-in-out; /* Smooth animation */
  box-shadow: rgba(23, 31, 114, 0.2) 0px 16px 30px;
}

.content_left_button_1:hover {
  background-color: rgb(255, 130, 92); 
  border: 0px solid rgb(255, 130, 92);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.content_left_button_2 {
  background-color: white; 
  color: rgb(39, 29, 84); 
  border: none;
  padding: 16px 26px; /* Button padding */
  font-size: 16px; /* Text size */
  border-radius: 2px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: all 0.3s ease-in-out; /* Smooth animation */
  box-shadow: rgba(23, 31, 114, 0.2) 0px 16px 30px;
}

.content_left_button_2:hover {
  background-color: rgb(255, 130, 92); 
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.content_right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.content_right > img {
  width: 450px;
  height: 350px;
}
