:root {
  --primary-color: #4c6ef5;
  --secondary-color: #f8f9fc;
  --accent-color: #28a745;
  --text-color: #2c3e50;
  --error-color: #dc3545;
  --input-border: #ccc;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --font-family: "Poppins", sans-serif;
}


.container {
  width: 100vw;
  padding: 15px 50px;
  font-family: var(--font-family);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchLabel {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 5px;
}

.searchBar {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  transition: border 0.3s ease-in-out;
}

.searchBar:focus {
  border-color: var(--primary-color);
  outline: none;
}

.roomList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.roomItem {
  padding: 16px;
  position: relative;
  background-color: #fff;
  border: 1px solid var(--input-border);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  box-shadow: 0 3px 6px var(--shadow-light);
  transition: transform 0.2s ease-in-out;
}


.roomItem:hover{
  border: 1px solid rgb(39, 29, 84);
  cursor: pointer;
}

.roomItem:hover > .lastChecked{
  border: 1px solid rgb(39, 29, 84);
}


.roomDetails {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.roomName {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}

.roomId {
  font-size: 14px;
  color: gray;
}

.noRooms,
.loading,
.error {
  font-size: 16px;
  margin-top: 10px;
}

.noRooms {
  color: gray;
}

.loading {
  color: var(--primary-color);
  font-weight: bold;
}

.error {
  color: var(--error-color);
  font-weight: bold;
}

.viewInventoryButton {
  background-color: rgb(39, 29, 84);
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.viewInventoryButton:hover {
  background-color: rgb(255, 130, 92);
}

.pagination {
  display: flex;
  position: fixed;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pageButton {
  background: rgb(39, 29, 84);
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.pageButton:disabled {
  background: gray;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: rgb(255, 130, 92);
}

.pageNumber {
  font-size: 16px;
  font-weight: bold;
}

.pageInput {
  width: 40px;
  text-align: center;
  font-size: 14px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.pageInput:focus {
  outline: none;
  border-color: rgb(39, 29, 84);
}




@media (max-width: 568px) {
  .container {
    padding: 20px;
  }

  .roomItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .searchBar{
    margin-bottom: 10px;
  }

  .roomItem{
    margin-bottom: 18px;
  }


  .viewInventoryButton {
    width: 100%;
  }

  .pagination {
    display: flex;
    position: static;
  
  }
}


.lastChecked {
  position: absolute;
  width: 210px;
  display: grid;
  place-items: center;
  top: -12px; 
  right: 15px; 
  background: #ffffff;
  color: #666;
  font-size: 12px;
  font-style: italic;
  padding: 1px 0px;
  border-radius: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--input-border);
}



