
.container {
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #333;
}

.addButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.addButton:hover {
  background-color: #45A049;
  text-decoration: underline;
}

.roomGrid {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.roomCard {
  background-color: #f9f9f9;
  padding: 15px;
  /* border-radius: 8px; */
  border: 1px solid purple;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.roomCard:hover {
  transform: scale(1.002);
}

.roomInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.roomName {
  font-size: 18px;
}

.inventoryCount {
  font-size: 14px;
  color: #555;
}


.buttonGroup {
  display: flex;
  gap: 5px;
}

.editButton {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 1px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #45a049;
}

.deleteButton {
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 1px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

